<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Grocery List</title>
    </head>
<body>
  <form action="/items" method="post">
      <input type="text">
      <input type="submit" value="+ Add item">
  </form>

  <ul>
      <% for (idx in item) { %>
      <li><%= item[idx]['text'] %></li>
      <% } %>
    </ul>

</body>
</html>
