<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Grocery List</title>
    </head>
<body>
  <form action="/items" method="POST">
      <input type="text" name="item">
      <input type="number" name="quantity">
      <input type="submit" value="+ Add Item">
  </form>

  <ul>
    <% for (idx in items) { %>
    <li><%= items[idx]['text']  %></li>
    <% } %>
  </ul>

</body>
</html>
