<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Grocery List</title>
    </head>
<body>
  <form action="/items" method="POST">
      <input type="text" name="name">
      <input type="number" name="quantity">
      <input type="submit" value="+ Add Items">
  </form>

  <ul>
      <% for (idx in items) { %>
      <li><%= items[idx]['name'] %><%= items[idx]['quantity'] %></li>
      <% } %>
    </ul>

</body>
</html>
