<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Grocery List</title>
    </head>
<body>
  <form action="/items" method="POST">
      <input type="text" name="item">
      <input type="number" name="quantity">
      <input type="submit" value="+ Add Items">
  </form>

  <ul>
    <% items.forEach((item) => { %>
    <li><%= item.text %></li>
    <% }) %>
  </ul>

</body>
</html>
